<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Lokesh Parmar</title>
    <link rel="stylesheet" href="../assets/css/home.css">
 </head>
  <body id="wrapper">
      <div id="greeting"><h1>Welcome..!</h1></div>
        <div id="quotes">
            <span><i class="fa fa-quote-left"></i></span>
            <span id="generate"><p>Helloe and welocme to my website i am lokesh rockzz please press enter to continue</p></span>
            <span><i class="fa fa-quote-right"></i></span>
        </div>
        <div id="button">
          <a href="#">Enter</a>
        </div>
  </body>
</html>
