<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Lokesh Parmar</title>
    <link rel="stylesheet" href="../assets/css/home.css">
 </head>
  <body id="wrapper">
      <div id="greeting"><h1>Welcome..!</h1></div>
        <div id="quotes">
            <span><i class="fa fa-quote-left"></i></span>
            <span><p id="generate">Don't give up. The beginning is always the hardest. Life rewards those who work hard at it.</p></span>
            <span><i class="fa fa-quote-right"></i></span>
        </div>
        <div id="button">
          <a href="#">Enter</a>
        </div>
        <script src="../assets/javascript/home.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script>
        particlesJS.load('wrapper', '../assets/javascript/particles.json', function() {
        console.log('callback - particles.js config loaded');
        });
  </script>
  </body>
</html>
